body {
  background-image: linear-gradient(90deg,#766DFF,#88F2FF);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 15px;
  color: black;
  text-align: center;
}

section {
  text-align: left;
  width: 50%;
}

.main {
  display: flex;
}

textarea {
  padding: 2%;
  margin: 0.5%;
  width: 80%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  height: 80%;
  outline: none;
}

button:hover {
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  border: none;
}

button {
  background-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  width: 80%;
  padding: 1%;
  margin: 0.5%;
  transition-duration: 0.4s;
  color: black;
  font-weight: bold;
  border: 2px solid #000000;
}

table {
  border-spacing: 0 15px;
  padding: 2%;
  width: 100%;
}

table tr {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

table .tr-start {
  border-radius: 15px 0 0 15px;
}

table .tr-end {
  border-radius: 0 15px 15px 0;
}

table td {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  padding: 1%;
}
