* {
  font-family: "Comic Sans MS", cursive;
  font-family: "Arial", Arial, sans-serif;
  
  font-weight: 400;
  background: rgb(183,217,241);
background: radial-gradient(circle, rgba(183,217,241,1) 0%, rgba(147,184,198,1) 100%);

}
body {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label, textarea {
  display: block;
}
.main {
  padding: 10px;
  width: 95%;
 
}
.main-header {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #5e9aa6;
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px #ababab;
}
.main-input-comment { 
  margin-bottom: 20px; 
  color: white;
  text-align: left;
  text-shadow: 1px 1px 1px #ababab;
}
.main-comment-area {
  width: 98%;
  border: white 3px solid;
  border-radius: 10px;
  resize: none;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}
.main-analyze-button {
  width: 100%;
  padding: 5px;
  border: 2px solid white;
  border-radius: 7px;
  color: #5e9aa6;
  text-align: center;
  font-size: 17px;
  outline: none;
}
.main-analyze-button::-moz-focus-inner {border: 0;}
.main-analyze-button:hover {
  background-color: #8264b5;
  border-color: white;
  cursor: pointer;
}
.main-result-block { text-align: center; }
.pos { color: green; }
.neg { color: darkred; }
.neutral { color: gray }
.invisible { display: none; }